{% extends 'frontend/base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Client</h1>

    {{ include('backoffice/admin_client/_form.html.twig') }}
<br>
    <a  class="btn btn-primary href="{{ path('admin_client_index') }}">back to list</a>
{% endblock %}
