{% extends 'frontend/base.html.twig' %}

{% block title %}Register{% endblock %}
 {% block stylesheets %}
 
{% endblock %}
{% block body %}
    <div class="container">
        {# {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %} #}
        <div class="card bg-light shadow-lg p-3 m-5 bg-white rounded">
            <img src="/blog/img/image2.png">
            <br>
            <div class="card-title text-center">
                <h1>LE RECOURS À L'INTÉRIM DANS LE SECTEUR DU B TIMENT</h1>
            </div>
            <div class="card-body">

                Pourquoi le secteur du BTP fait il appel aux agences d’intérim ?

                <h5><li>  C’EST QUOI UNE AGENCE D'INTÉRIM ? </li></h5>
                Une agence d’intérim est un établissement qui met en relation des employés(intérimaires), avec des employeurs (entreprises). Le salarié intérimaire et l’agence d’emploi sont liés par un contrat de mission. Ces missions peuvent êtres courtes ou longues tout dépend de la demande et du besoin des entreprises, néanmoins la durée maximum des missions d’intérim est de 18 mois renouvelable.

            <h5><li> LE RÔLE ET LES AVANTAGES DES AGENCES D’INTERIM </li></h5>

                Dans une société en constante évolution, le monde de l’intérim a su trouver sa place et a réussi à devenir un indispensable auprès des entreprises. Et plus précisément celles qui cherchent à recruter rapidement de la main d’œuvre qualifiée répondant à leurs besoins.
                Les entreprises font appel aux agences d’intérim lorsqu'elles sont en manque d’effectifs. Ce qui peut être dû à l'absence de salariés ou lorsqu’il y’a une augmentation temporaire d’activité. Elles permettent aux entreprises de gagner un gain de temps incroyable au niveau du processus de recrutement. Car les agences d’intérim connaissent leurs clients et elles savent exactement ce que recherchent les entreprises. De ce fait, les agences d’emploi doivent vérifier que les candidats qui postulent au poste sont en adéquation avec les exigences de l’entreprise. C’est pour cela qu’avant toute signature d’un contrat de mission, les candidats doivent passer des tests.
                Beaucoup d’entreprises font confiance aux agences d’emploi et le secteur du BTP n’en fait pas exception. Le BTP représente 19,3 % des intérimaires, certaines agences d’intérim sont spécialisées dans le bâtiment et les travaux publics.

            <h5><li> QU’EST CE QUE LE BTP ? </li></h5>

                Le secteur du BTP « Bâtiment et travaux publics » fait partie de l’un des premiers secteurs d’activité économiques. Ses principales activités sont la conception, la construction et la rénovation.  Le BTP est également un secteur qui regroupe plusieurs corps de métier, ce qui pourrait expliquer le fait qu’il fasse partie des secteurs économiques les plus dynamiques. Avec ses activités de proximité, non délocalisables les métiers du BTP représentent 93% des entreprises soit 585 300 entreprises et 1,3 million de salariés. (Sources metiers-btp.fr)

            <h5><li> QUE FONT LES INTÉRIMAIRES DU B TIMENTS </li></h5>
                Les intérimaires du bâtiment sont des professionnels du gros œuvre, c’est-à-dire ils sont chargés de construire les structures des immeubles, bureaux ou habitations, et de construire les fondations. Ils travaillent également à la construction de superstructures, comme les hôtels, écoles, les hôpitaux ou les logements individuels et collectifs.

            <h5> <li> LES MÉTIERS DU BTP LES PLUS DELEGUE DANS LES AGENCES D’INTERIM </li></h5>
                D’après une étude menée en 2017, il y’a 4 grandes professions dans le secteur du bâtiment qui ont connu une forte demande auprès des agences d’intérim. Il s’agit des peintres, les maçons, les chauffeurs d’engins de TP et les électriciens.

                Il faut savoir qu’il y’a entre 220 et 320 000 nouveaux salariés qui intègrent le secteur du BTP chaque année. Des chiffres qui montrent à quel point il s’agit d’un domaine d’activité qui recrute.

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
