<!DOCTYPE html>

<title>Edit Missions</title>

{% block body %}
    <h1>Edit Missions</h1>

    {{ include('backoffice/admin_missions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_missions_index') }}">back to list</a>

    {{ include('backoffice/admin_missions/_delete_form.html.twig') }}
{% endblock %}
