<!DOCTYPE html>

<title>New Missions</title>

{% block body %}
    <h1>Create new Missions</h1>

    {{ include('backoffice/admin_missions/_form.html.twig') }}

    <a href="{{ path('admin_missions_index') }}">back to list</a>
{% endblock %}
