{% extends 'frontend/base.html.twig' %}

{% block title %}Editer les Informations bacncaire du clients {% endblock %}

{% block body %}
    <h1>Editer  les informations Bancaires du Client</h1>

    {{ include('backoffice/admin_bancaire_clt/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('admin_bancaire_clt_index') }}">back to list</a>

    {{ include('backoffice/admin_bancaire_clt/_delete_form.html.twig') }}
{% endblock %}
