<!DOCTYPE html>

<title>New InfosBancairesF</title>

{% block body %}
    <h1>Create new InfosBancairesF</h1>

    {{ include('backoffice/admin_bancaire_fr/_form.html.twig') }}

    <a href="{{ path('admin_bancaire_fr_index') }}">back to list</a>
{% endblock %}
