{% extends 'frontend/base.html.twig' %}

{% block title %}Nouveau Fournisseur {% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Fournisseur</h1>

    {{ include('backoffice/admin_fournisseur/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('admin_fournisseur_index') }}">back to list</a>
{% endblock %}
