{% extends 'frontend/base.html.twig' %}

{% block title %}Register{% endblock %}
 {% block stylesheets %}
 
{% endblock %}
{% block body %}
    <div class="container">
        {# {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %} #}
        <div class="card bg-light shadow-lg p-3 m-5 bg-white rounded">
            <div class="card-title text-center">
                <h1>Création de votre statut d’auto-entrepreneur</h1>
            </div>
            <div class="card-body">
                {{ include('frontend/useroffice/fournisseur/suite_inscription/_registrationForm.html.twig', {registrationForm:registrationForm}) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}