<form method="post" action="{{ path('admin_permis_delete', {'idPermis': infos_permi.idPermis}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ infos_permi.idPermis) }}">
    <button class="btn">Delete</button>
</form>
