<!DOCTYPE html>

<title>New InfosPermis</title>

{% block body %}
    <h1>Create new InfosPermis</h1>

    {{ include('backoffice/admin_permis/_form.html.twig') }}

    <a href="{{ path('admin_permis_index') }}">back to list</a>
{% endblock %}
