<form method="post" action="{{ path('admin_langues_delete', {'idLangues': infos_langue.idLangues}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ infos_langue.idLangues) }}">
    <button class="btn">Delete</button>
</form>
