<!DOCTYPE html>

<title>New InfosLangues</title>

{% block body %}
    <h1>Create new InfosLangues</h1>

    {{ include('backoffice/admin_langues/_form.html.twig') }}

    <a href="{{ path('admin_langues_index') }}">back to list</a>
{% endblock %}
